/*********************************
begin button
*********************************/

.btn {
    background: #152f84;
    padding: 27px 44px;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    -moz-user-select: none;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #84232f;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0;
}

.btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

Edit in JSFiddle Result HTML CSS JavaScript Resources
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


/* Rounded tabs */

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}


/* With arrow tabs */

.with-arrow .nav-link.active {
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #84232f;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}


/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 5px solid transparent;
}

.lined .nav-link:hover {
    border: none;
    border-bottom: 5px solid transparent;
}

.lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #84232f;
}


/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
    background: #304352;
    background: -webkit-linear-gradient(to right, #304352, #d7d2cc);
    background: linear-gradient(to right, #304352, #d7d2cc);
    min-height: 100vh;
}

.nav-pills .nav-link {
    color: #555;
}

.text-uppercase {
    letter-spacing: 0.1em;
}