<!-- Start Section Valeur -->


<div class="team-area section-padding30 mb-5 mt-5">
    <h2 class="mr-3 container">Nos valeur :</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card mr-5" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/blog02.png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-text">Fiabilite</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mr-5" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/blog01.png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-text">Reactivite</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mr-5" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/blog1.png" alt="Card image cap">
                <div class="card-body">

                    <h2 class="card-text">Rapidité</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>