<div class="home mt-5">
    <div class="breadcrumbs_container">
        <div class="container">
            <h1>{{href.slice(1, href.length)}} </h1>
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a routerLink="/acceuil">Home</a></li>
                            <li>{{href.slice(1, href.length)}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>