<section class="section m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img alt="Web Studio" class="img-fluid" src="../../../assets/images/service1.jpg" />
                </div>
            </div>
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                <div>
                    <h2>Module Studio</h2>
                    <p class="margin-top-s">Whether you’re a full stack web developer, content author, or business professional – Solodev gives you the power to build, customize, and manage modules to boost your website.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                <div>
                    <h2>Module Studio</h2>
                    <p class="margin-top-s">Whether you’re a full stack web developer, content author, or business professional – Solodev gives you the power to build, customize, and manage modules to boost your website.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img alt="Web Studio" class="img-fluid" src="../../../assets/images/service2.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img alt="Web Studio" class="img-fluid" src="../../../assets/images/service3.jpg" />
                </div>
            </div>
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                <div>
                    <h2>Module Studio</h2>
                    <p class="margin-top-s">Whether you’re a full stack web developer, content author, or business professional – Solodev gives you the power to build, customize, and manage modules to boost your website.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                <div>
                    <h2>Module Studio</h2>
                    <p class="margin-top-s">Whether you’re a full stack web developer, content author, or business professional – Solodev gives you the power to build, customize, and manage modules to boost your website.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img alt="Web Studio" class="img-fluid" src="../../../assets/images/service4.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>