<div class="super_container">
    <!-- Header -->
    <header class="header">
        <!-- Top Bar -->
        <div class="top_bar">
            <div class="top_bar_container ">
                <div class="container ">
                    <div class="top_bar_content row">
                        <ul class="top_bar_contact_list d-flex flex-row align-items-center justify-content-start col-10">
                            <li>
                                <div class="question">Avec vous des questions?</div>
                                <!-- <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <div class="question"> Heures d'ouverture Lun-Ven de 9h à 13h </div> -->
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <div>+212 661-596074</div>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <div>contact@pullmansud.com </div>
                            </li>
                        </ul>
                        <!-- <div class="top_bar_login">
                                    <div class="login_button"><a routerLink="/darAttamwil/Seconnecter"> 'seConnecter' </a></div>
                                </div> -->
                        <div class=" col-2">
                            <button type="button" class="btn btn-primary btn-me dnone" routerLink="/login">Espace&nbsp;Clients</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Content -->
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container">
                                <a href="#">
                                    <div class="logo_text"><span><img src="../../../assets/images/logo/pullman(200-100).png"></span></div>
                                </a>
                            </div>
                            <nav class="main_nav_contaner ml-auto">
                                <ul class="main_nav">
                                    <li [routerLinkActive]="['active']" routerLinkActiveOptions="{exact:true}"><a routerLink="/acceuil">Acceuil</a></li>
                                    <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/apropos">Apropos</a></li>
                                    <!-- <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/service">Services</a></li> -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Services
                                        </a>
                                        <div class="dropdown-menu bg-white" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item " routerLink="/service">Particuliers</a>
                                            <a class="dropdown-item" routerLink="/service">Entreprises</a>
                                        </div>
                                    </li>
                                    <!-- <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/darAttamwil/entreprises"> 'entreprise' </a></li> -->
                                    <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/contact">Contact</a></li>
                                    <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}" class="nav-item">
                                        <a routerLink="/carries">Carries</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-language" aria-hidden="true"></i><span class="caret">tr</span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <a (click)="useLanguage('francais')"><img src="../../assets/images/fr.png" width="20%"></a> 'français' <br>
                                            <a (click)="useLanguage('arabe')"><img src="../../assets/images/ar.png" width="20%"> 'arabe' </a>
                                        </ul>
                                    </li>
                                </ul>

                                <!-- <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div> -->
                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Search Panel -->
        <div class="header_search_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                            <form action="#" class="header_search_form">
                                <input type="search" class="search_input" placeholder="Search" required="required">
                                <button class="header_search_button d-flex flex-column align-items-center justify-content-center">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Menu -->
    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
        <nav class="menu_nav">
            <ul class="menu_mm">
                <li [routerLinkActive]="['active']" routerLinkActiveOptions="{exact:true}"><a routerLink="/darAttamwil/acceuil">Acceuil</a></li>
                <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/darAttamwil/apropos">Apropos</a></li>
                <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/darAttamwil/particuliers">Services</a></li>
                <!-- <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/darAttamwil/entreprises"> 'entreprise' </a></li> -->
                <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/darAttamwil/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="search">
            <button type="button" class="btn btn-primary btn-me m-5" routerLink="/login">Se&nbsp;connecter</button>
            <!-- <form action="#" class="header_search_form menu_mm">
                <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
                <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
            </form> -->
        </div>
    </div>


</div>