<div class="container">
    <div class="row justify-content-center">
        <div class="cl-xl-7 col-lg-8 col-md-10">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-70 mt-5 mb-5">
                <span>Historique</span>
                <h2>What We Can Do For You</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="blog-card col-12">
            <div class="meta">
                <div class="photo"></div>
                <!-- <ul class="details">
                    <li class=""><a href="#">Pulman du sud</a></li>
                    <li><img src="../../../assets/images/logo/pullman(400-200).png" alt=""></li>
                    <li class="date">1948</li>
                    <li class="tags">
                        <ul>
                            <li><a href="#">Learn</a></li>
                            <li><a href="#">Code</a></li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                        </ul>
                    </li>
                </ul> -->
                <ul class="details">
                    <h5 class="text-center mt-5">Pulman du sud</h5>
                    <!-- <div class="d-flex justify-content-center"><img src="../../../assets/images/logo/pullman(400-200).png" alt=""></div> -->
                    <div class="d-flex justify-content-center mt-5"><img src="../../../assets/images/logo/bel.png" alt=""></div>
                    <!-- <h5 class="text-center">1948</h5> -->
                </ul>
            </div>
            <div class="description">
                <h1>Learning to Code</h1>
                <h2>Opening a door to the future</h2>
                <p> Depuis 1948 ans Le Transport Pullman vous accompagne dans votre démarche transport et logistique de marchandises et respectent ce slogan qui est devenu une marque de fabrique et nous le souhaitons une référence. Afin de répondre au mieux
                    aux exigences et vos besoins, ce Mail a pour vocation de créer un contact avec vous et vous présenter nos compétences et notre expérience en matière de transports et logistique par camion routier. Notre flotte polyvalente de camion
                    , et véhicules nous permettent de transporter tous types de Meme les marchandises industrielles et dangereuses. Les points forts de notre entreprise de transport : Des experts en transport de tous les Matières et les Marchandises Un
                    suivi logistique de qualité Des surfaces d’entreposage propres et surveillées ! Une exploitation de qualité et expérimentée Respect de délai de livraison et Partout au MAROC Aujourd’hui PULLMAN DU SUD a travers son réseau de Messagerie
                    Vous propose plains d’offre Selon vos besoins</p>
            </div>
        </div>
    </div>
</div>
<!--Team Ara Start -->
<div class="team-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <span>Our Team Mambers</span>
                    <h2>What We Can Do For You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="../../assets/images/team1.png" alt="" />
                        <div class="team-caption">
                            <h3><a href="#">Mancherwan Kolin</a></h3>
                            <p>Health agent</p>
                            <!-- Blog Social -->
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-globe"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="../../assets/images/team2.png" alt="" />
                        <div class="team-caption">
                            <h3><a href="#">Mancherwan Kolin</a></h3>
                            <p>Health agent</p>
                            <!-- Blog Social -->
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-globe"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="../../assets/images/team3.png" alt="" />
                        <div class="team-caption">
                            <h3><a href="#">Mancherwan Kolin</a></h3>
                            <p>Health agent</p>
                            <!-- Blog Social -->
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-globe"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Ara End -->