/* CSS Document */

:root {
    --newColor: #84232f;
    --gauneColor: #c1b744;
    /* 
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
}


/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

* {
    /* margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px; */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5;
}

div {
    /* display: block; */
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.85;
    font-weight: 400;
    color: #76777a;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

p:last-of-type {
    margin-bottom: 0;
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
    position: relative;
    color: #FF6347;
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f;
}

p a:hover::after {
    opacity: 0.2;
}

::selection {}

p::selection {}

h2 {
    font-size: 36px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}

h2::selection {}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}


/*********************************
6. Home
*********************************/


/*********************************
7. Features
*********************************/


/*********************************
8. Courses
*********************************/


/*********************************
10. Events
*********************************/

.events {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 70px;
    background: #FFFFFF;
}

.events_row {
    margin-top: 47px;
}

.event_left {
    padding-right: 20px;
}

.event_mid {
    padding-left: 10px;
    padding-right: 10px;
}

.event_right {
    padding-left: 20px;
}

.event_image {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.event_image img {
    max-width: 100%;
}

.event_body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.event_date {
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
}

.event_date>div {
    width: 60px;
    height: 60px;
}

.event_day {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color: #84232f;
    font-weight: 700;
    line-height: 0.75;
}

.event_month {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #84232f;
    font-weight: 400;
    line-height: 0.75;
    margin-top: 9px;
}

.event:hover .event_date>div {
    background: #84232f;
}

.event:hover .event_day,
.event:hover .event_month {
    color: #FFFFFF;
}

.event_content {
    padding-left: 20px;
}

.event_title a {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #384158;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.event_title a:hover {
    color: #84232f;
}

.event_info_container {
    margin-top: 11px;
}

.event_info {
    display: inline-block;
    color: #b5b8be;
    font-size: 14px;
}

.event_info:not(:last-child) {
    margin-right: 17px;
}

.event_info span {
    margin-left: 4px;
}

.event_text {
    margin-top: 12px;
}


/*********************************
12. News
*********************************/


/************
end acceuil
************/


/************
bengining responisive
************/


/* CSS Document */


/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .event_col:not(:last-child) {
        margin-bottom: 20px;
    }
}


/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 13px;
    }
}