<div class="super_container">
    <section class="ftco-section ftco-no-pb mb-5">
        <div class="container">
            <div class="row">
                <div class="col m-5">
                    <div class="section_title_container text-center">
                        <h2 class="section_title m-4">entreprises</h2>
                        <div class="section_subtitle">
                            <p>Depuis 1948 ans Le Transport Pullman vous accompagne dans votre démarche transport et logistique de marchandises et respectent ce slogan qui est devenu une marque de fabrique et nous le souhaitons une référence. Afin de répondre
                                au mieux aux exigences et vos besoins, ce Mail a pour vocation de créer un contact avec vous et vous présenter nos compétences et notre expérience en matière de transports et logistique par camion routier. Notre flotte
                                polyvalente de camion , et véhicules nous permettent de transporter tous types de Meme les marchandises industrielles et dangereuses. Les points forts de notre entreprise de transport : Des experts en transport de tous
                                les Matières et les Marchandises Un suivi logistique de qualité Des surfaces d’entreposage propres et surveillées ! Une exploitation de qualité et expérimentée Respect de délai de livraison et Partout au MAROC Aujourd’hui
                                PULLMAN DU SUD a travers son réseau de Messagerie Vous propose plains d’offre Selon vos besoins</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Particuliers</span>
                <h2 class="mb-4">Pour qoui Dar attamwil?</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
        </div> -->
            <div class="row tabulation mt-4 ftco-animate">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
                        <li class="nav-item text-left">
                            <a class="nav-link active py-4" data-toggle="tab" href="#services-1">
                                <h4><span class="fa fa-search "></span> Mourabaha Automobile</h4>
                            </a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link py-4" data-toggle="tab" href="#services-2">
                                <h4><span class="fa fa-search "></span> Sukuk d’investissement</h4>
                            </a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link py-4" data-toggle="tab" href="#services-3">
                                <h4><span class="flaticon-insurance"></span> Mourabaha équipements</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="tab-content">
                        <div class="tab-pane container p-0 active" id="services-1">
                            <h3 class="mb-4">Mourabaha Automobile</h3>
                            <p class="mb-3">Mourabaha Automobile est un contrat de finance islamique dans laquelle la banque achète un bien Auto à la demande du client et elle le lui revend, moyennant une marge bénéficiaire convenue à l’avance.</p>
                            <div class="img" style="background-image: url(../../assets/images/rapide.jpg);"></div>
                        </div>
                        <div class="tab-pane container p-0 fade" id="services-2">
                            <h3 class="mb-4">Mourabaha immobilier</h3>
                            <p class="mb-3">La Mourabaha équipement est un contrat de finance islamique dans laquelle la banque achète un bien d’équipement à la demande du client et elle le lui revend, moyennant une marge bénéficiaire convenue à l’avance avec un paiement
                                échelonné.
                            </p>
                            <div class="img" style="background-image: url(../../assets/images/rapide.jpg);"></div>
                        </div>
                        <div class="tab-pane container p-0 fade" id="services-3">
                            <h3 class="mb-4">Mourabaha équipements</h3>
                            <p class="mb-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <div class="img" style="background-image: url(../../assets/images/rapide.jpg);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>