<div class="container">
	<div class="row">
		
        <div id="btnshow"class="side-bar"  >Suivi Votre Colis</div>
        <div id="closeshow" class="side-bar-div d-none">
                  <div class="modal-content pb-3 bg-color ">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center mt-1">
                        <h6 data-aos="zoom-in" class="mb-4">Login form style 3</h6>
                        <div data-aos="fade-up-left" class="input-group">
                            <input name="" class="form-control" placeholder="N° de Suivi" type="text">
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary"> Recherche</a>
                    </div>
                  </div>
        </div>
	</div>
</div>