<!--? our info Start -->
<div class="our-info-area pt-70 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-info mb-30 justify-content-center">
                    <div class="info-icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="info-caption">
                        <div class="icons pb-4">
                            <img class="mx-auto d-block" src="../../../assets/images/icon/icon_acheminement_24 (1).png" />
                        </div>
                        <p class="text-center">Sunday CLOSED</p>
                        <span>+ (123) 1800-567-8990</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-info mb-30 justify-content-center">
                    <div class="info-icon">
                        <span class="flaticon-clock"></span>
                    </div>
                    <div class="info-caption">
                        <div class="icons pb-4">
                            <img class="mx-auto d-block" src="../../../assets/images/icon/icon-service.png" />
                        </div>
                        <p class="text-center">Sunday CLOSED</p>
                        <span>Mon - Sat 8.00 - 18.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="single-info mb-30 justify-content-center">
                    <div class="info-icon">
                        <span class="flaticon-place"></span>
                    </div>
                    <div class="info-caption">
                        <div class="icons pb-4">
                            <img class="mx-auto d-block" src="../../../assets/images/icon/icon-map.png" />
                        </div>
                        <p class="text-center">Sunday CLOSED</p>
                        <span>USA, New York - 10620</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our info End -->