<div class="counter p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt-5 mb-5">
                <div class="employees">
                    <p class="counter-count">879</p><span class="ion-plus"><i class="fa fa-plus"></i></span>
                    <hr class="lineCounte">
                    <h6 class="employee-p mt-2">Particulier</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt-5 mb-5">
                <div class="customer">
                    <p class="counter-count">954</p><span class="ion-plus"><i class="fa fa-plus"></i></span>
                    <hr class="lineCounte">
                    <h6 class="employee-p mt-2">Profisionels</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt-5 mb-5">
                <div class="design">
                    <p class="counter-count">1050</p><span class="ion-plus"><i class="fa fa-plus"></i></span>
                    <hr class="lineCounte">
                    <h6 class="employee-p mt-2">Entreprises</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt-5 mb-5">
                <div class="order">
                    <p class="counter-count">77</p><span class="ion-plus"><i class="fa fa-plus"></i></span>
                    <hr class="lineCounte">
                    <h6 class="employee-p mt-2">Satisfaction Client</h6>
                </div>
            </div>
        </div>
    </div>
</div>