<!-- Top Bar -->
<section class="fixed-top">
    <div class="top_bar">
        <div class="top_bar_container ">
            <div class="container ">
                <div class="row">
                    <div class="col">
                        <div class="top_bar_content d-flex flex-row align-items-center justify-content-start ">
                            <ul class="top_bar_contact_list">
                                <li>
                                    <div class="question">Avec vous des questions?</div>
                                    <!-- <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <div class="question"> Heures d'ouverture Lun-Ven de 9h à 13h </div> -->
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <div>+212 661-596074</div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <div>contact@pullmansud.com </div>
                                </li>
                            </ul>
                            <div class="top_bar_login ml-auto">
                                <div class="login_button"><a routerLink="/darAttamwil/S'inscrire"> 'inscrire'  </a></div>

                            </div>
                            <!-- <div class="login_button"><a href="#"> 'ou'   'seConnecter' </a></div> -->
                            <div class="top_bar_login">

                                <div class="login_button"><a routerLink="/darAttamwil/Seconnecter"> 'seConnecter' </a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50?text=Logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<!-- /.container -->